<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

       <bean id="customerService"
            class="com.mkyong.customer.services.CustomerService" scope="prototype"/>
       <bean id="cs1"
            class="com.mkyong.customer.services.CustomerService" scope="prototype"/>
       <bean id="cd3"
            class="com.mkyong.customer.services.CustomerService" scope="prototype"/>

</beans>